.cards {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .card-appear {
    opacity: 1;
    transform: translateY(0);
  }
  .cards:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
    